:root {
    --sidebar-width: 400px;
    --docs-sidebar-width: 300px;
    --light-bg: rgb(250, 250, 250);
    --med-bg: rgb(235, 235, 235);
    --dark-bg: rgb(196, 196, 196);
    --darker-bg: #b0b0b0;
    --docs-dark-bg: #3F584C;
    --accent: #15BE69;
    --accent-bg: #4299e1;
    --accent-bg-hover: #2B6CB0;
    --text: #6B6F72;
    --text-link: #3469a0;
    --text-light: #f7f7f7;
    --text-light-hover: #BABABA;
}

* {
    box-sizing: border-box;
}

*, *:focus, *:hover{
    outline: none; /* remove black outline in Chrome */
}

html {
    font-family: sans-serif;
    color: var(--text);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    background-color: var(--light-bg);
}

a, a:visited {
    color: var(--text-link);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* WEBMAP */
.viz h1, .viz h2 {
    width: 100%;
    color: var(--accent);
    text-transform: uppercase;
}

.viz h1 {
    font-size: 1.1em;
    text-align: center;
    margin: 0;
}

.viz h2 {
    font-size: 0.9em;
}

.flex-container {
    display: flex;
    height: 100vh;
    background-color: var(--light-bg);
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: var(--sidebar-width);
    background-color: var(--light-bg);
    height: 100%;
}

header, main {
    padding: 0px 20px 0px 20px;
}

.lang {
    margin-left: -20px;
    margin-bottom: 5px;
}

.lang a {
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    border-bottom-right-radius: 6px;
    font-weight: bold;
}

.controls {
    flex-grow: 1;
    background-color: var(--med-bg);
    overflow-y: auto;
}

.controls > div {
    margin-bottom: 30px;
}

.controls > div > div {
    font-size: 0.8em;
    margin: 10px auto;
}


.controls > div > div > div {
    display: inline-block;
}

.label {
    width: 130px;
}

.layers input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.layers input + label {
    vertical-align: middle;
    cursor: pointer;
    width: 40px;
    height: 20px;
    background-color: gray;
    display: inline-block;
    border-radius: 20px;
    position: relative;
}

.layers input + label:after {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 20px;
    transition: 0.3s;
}

.layers input:checked + label {
    background: var(--accent);
}

.layers input:checked + label:after {
    left: calc(100% - 4px);
    transform: translateX(-100%);
}

.layers label:active:after {
    width: 20px;
}

.downloads > div {
    height: 60px;
}

.range-container {
    display: flex;
    flex-direction: column;
}

.range-container:not(:last-child) {
    margin-bottom: 30px;
}

.range-wrap {
    position: relative;
    margin-top: 25px;
    width: 100%;
}

.range {
    width: 100%;
    background: linear-gradient(to right, var(--accent) 0%, var(--accent) 50%, #fff 50%, #fff 100%);
    border-radius: 8px;
    height: 7px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
}

.range:hover {
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* needed for Chrome */
    height: 16px;
    width: 16px;
    border: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    background: white;
    border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
    height: 16px;
    width: 16px;
    border: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    background: white;
    border-radius: 50%;
}

.bubble {
    font-size: 0.7em;
    background: gray;
    color: white;
    padding: 4px 8px;
    position: absolute;
    border-radius: 4px;
    transform: translateX(-50%);
    bottom: 20px;
}

.wrapper {
    vertical-align: middle;
}

.download {
    float: left;
    width: 80px;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 30px;
    border: 2px solid var(--accent);
    border-radius: 4px;
    background-color: white;
    color: var(--accent);
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}


footer {
    height: 50px;
    display: flex;
    background-color: var(--dark-bg);
    cursor: pointer;
    text-align: center;
    padding: 0;
    font-weight: bold;
}

footer > * {
    display: inline-block;
    width: 50%;
}

footer div:hover {
    background-color: var(--darker-bg);
}

footer div span {
    display: inline-block;
    vertical-align: middle;
    line-height: 50px;
}

footer a, footer a:hover, footer a:visited {
    color: inherit;
    text-decoration: none;
}

#map {
    width: calc(100vw - var(--sidebar-width));
    position: relative;
}

.map-overlay {
    position: absolute;
    right: 50px;
    background-color: rgba(255, 255, 255, 0.9);
    margin-left: 10px;
    border-radius: 3px;
    padding: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.map-overlay > div:first-child, .modal > div:first-child {
    margin: 0;
    background-color: rgba(235, 235, 235, 0.9);
    height: 38px;
    border-radius: 5px;
}

.map-overlay h2, .modal-scroll h2 {
    margin: 0;
    text-align: center;
}

.exit {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 26px;
    font-weight: lighter;
}

.exit:hover {
    color: black;
    cursor: pointer;
}

.map-overlay > *, .modal-scroll > * {
    padding: 10px;
}

.cluster {
    display: none;
    top: 60px;
    width: 500px;
}

.table {
    width: 80%;
    margin: 0 auto;
}

.table > div {
    text-overflow: ellipsis;
}

.table > div > div {
    display: inline-block;
    width: 60%;
}

.legend {
    bottom: 60px;
}

.legend-key {
    display: inline-block;
    border-radius: 20%;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

#modal-root {
    position: fixed;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    left : 0;
    top: 0;
    width: 0px;
    height : 0px;
    opacity: 0;
    transition: opacity 0.15s ease-out, width 0s linear 0.15s, height 0s linear 0.15s;
}

#modal-root.visible {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 0.15s ease-out;
}

.modal {
    margin: 0 auto;
    width: 80%;
    background-color: var(--light-bg);
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 20%;
    transform: translateY(-20%);
}

.modal-scroll {
    overflow-y: auto;
    max-height: calc(100vh - 210px - 38px);
}

.modal-logos {
    display: flex;
    flex-direction: column;
}

.modal-logos-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logo {
    width: 33%;
}

.logo img {
    height: 100px;
    width: auto;
    padding: 20px;
    mix-blend-mode: darken;
}

.modal-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.modal-flex > div {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

@media screen and (max-width: 750px) {
    .modal-flex {
        flex-direction: column;
    }
    .modal-flex > div {
        width: 100%;
        padding: 5px;
    }
}

.noscript {
    text-align: center;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -80%);
}

.ttip {
    position: relative;
    text-decoration: underline;
    text-decoration-style: dotted;
}

.ttiptext {
    visibility: hidden;
    width: 120%;
    background-color: #191919;
    color: white;
    text-align: left;
    padding: 5px 5px;
    margin-left: 15%;
    border-radius: 6px;
    opacity: 0.9;
    position: absolute;
    z-index: 300;
    top: -5px;
}

.ttip:hover .ttiptext,
.ttip:active .ttiptext,
.ttip:focus .ttiptext {
    visibility: visible;
}

/* DOCS */

#toc {
    padding: 0px 10px 10px 20px;
}

#content {
    padding: 10px;
    margin-left: var(--docs-sidebar-width);
    flex-grow: 1;
    background-color: var(--light-bg);
    color: var(--text);
}

#content > * {
    max-width: 700px;
}

#content h1 {
    color: var(--accent);
    text-transform: uppercase;
    font-size: 1em;
}

#content h1:not(:first-child) {
    margin: 6em 0 0 0;
}

#toc {
    width: var(--docs-sidebar-width);
    color: var(--text-light);
    background-color: var(--docs-dark-bg);
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

#toc a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

#toc a:hover {
    color: var(--text-light-hover);
}

#toc ul {
    padding: 0;
    list-style-type: none;
}

#toc > ul > li > span {
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.8em;
    margin: 3em 0 0.8em 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even){
    background-color: var(--med-bg);
}

tr:hover {
    background-color: var(--dark-bg);
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--accent);
    color: white;
}

figure {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em 0;
    flex-wrap: wrap;
}

figcaption {
    font-style: italic;
    margin-top: 15px;
}

@media screen and (min-width: 1300px) {
    figure {
        flex-wrap: nowrap;
        width: 135%
    }

    figcaption {
        width: 30%;
        padding-left: 1.5em;
        margin-top: 0;
    }
}

img, video {
    max-width: 100%;
    width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button {
    background-color: var(--accent-bg);
    color: white !important;
}

.gap {
    height: 100px;
}

.button:hover {
    background-color: var(--accent-bg-hover);
}


/* MOBILE */
#switch {
    display: none;
    position: fixed;
    z-index: 9;
    top: 0;
    right: 0;
    width: 50vw;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
    border-bottom-left-radius: 6px;
}

.force-display {
    display: block !important;
    position: absolute !important;
    width: 50% !important;
}

@media screen and (max-width: 750px) {
    #switch {
        display: unset;
    }

    .sidebar {
        width: 100vw;
    }

    .legend {
        display: none;
    }

    .cluster {
        width: 90vw;
        left: 5vw;
        margin-left: 0;
    }

    .controls {
        overflow-y: unset;
    }

    body.docs {
        display: unset;
    }

    #toc {
        width: 100vw;
        height: 200px;
        position: unset;
        overflow: unset;
    }

    #toc > ul {
        display: none;
    }

    #content {
        margin-left: 0;
    }

    #content table {
        font-size: 0.8em;
    }

    td {
        word-wrap: break-word;
        word-break: break-all;
    }
}
