<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Mozambique Off-Grid Energy | GUIDE</title>
        <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
        <link href='/style.css' rel='stylesheet' />
    </head>
    <body>
        <nav id="toc">
            <div class="lang">
                <a id="lang" href=""></a>
            </div>
            <h1>Mozambique Off-Grid Energy</h1>
            <p>Data and tools for off-grid energy in Mozambique</p>
        </nav>
        <main id="content">
            <div>logos here</div>
        </main>
        <div class="map-overlay doc-overlay">
            <a id="tool" href="/">Back to the tool</a>
        </div>
    </body>
</html>
