:root {
    --sidebar-width: 300px;
    --light-bg: rgb(250, 250, 250);
    --dark-bg: #3F584C;
    --text: #6B6F72;
    --text-light: #f7f7f7;
    --text-light-hover: #BABABA;
    --text-accent: #15BE69;
}

* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    display: flex;
    padding: 0;
    margin: 0;
}

body > div {
    padding: 10px;
}

#content {
    margin-left: var(--sidebar-width);
    flex-grow: 1;
    background-color: var(--light-bg);
    color: var(--text);
}

#content > * {
    max-width: 700px;
}

#content h1 {
    color: var(--text-accent);
    text-transform: uppercase;
    font-size: 1em;
}

#content h1:not(:first-child) {
    margin: 6em 0 0 0;
}

#toc {
    width: var(--sidebar-width);
    color: var(--text-light);
    background-color: var(--dark-bg);
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

#toc a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

#toc a:hover {
    color: var(--text-light-hover);
}

#toc ul {
    padding: 0;
    list-style-type: none;
}

#toc > ul > li > span {
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.8em;
    margin: 3em 0 0.8em 0;
}
